<header>
    <nav>
        <a href="/">HOME</a>
        <a href="/uitnodiging">UITNODIGING</a>
        <a href="/tips">TIPS</a>
        <a href="/opdrachten">OPDRACHTEN</a>
        <% if(user.is_admin == 'true') { %>
            <a href="/admin">ADMIN</a>
        <% } %>
        <% if(logged_in) { %>
            <a href="/user/logout">LOGOUT</a>
        <% } %>
        <div class="dropdown-menu-wrap">
            <a href="#" class="menu-btn">
                <div class="menu-btn-line"></div>
                <div class="menu-btn-line"></div>
                <div class="menu-btn-line"></div>
            </a>
            <div class="dropdown-content">
                <a href="/">HOME</a>
                <a href="/uitnodiging">UITNODIGING</a>
                <a href="/tips">TIPS</a>
                <a href="/opdrachten">OPDRACHTEN</a>
                <% if(user.is_admin) { %>
                    <a href="/admin">ADMIN</a>
                <% } %>
                <% if(logged_in) { %>
                    <a href="/user/logout">LOGOUT</a>
                <% } %>
            </div>
        </div>
    </nav>
</header>