* {
    padding: 0;
    margin: 0
}

.container {
    width: 80%;
    margin: auto;
}

.dropdown-menu-wrap {
    display: none;
    
}

.menu-btn {
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-btn-line {
    width: 100%;
    height: 4px;
    margin: 3px 0;
    background: #fff;
}

.dropdown-content {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    background: #0009;
    display: block;
    text-align: center;
    display: none;
    transition: 0.5s linear;
}

.dropdown-content.show {
    display: block
}

.dropdown-content a {
    display: block;
    width: 100%;
}

header {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #00000099;
}

nav {
    display: flex;
    align-items: center;
    float: right;
}

nav a {
    display: inline-block;
    padding: 25px;
    color: #fff;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poor Story', sans-serif;
    font-size: 22px;
}

#main {
    display: block;
}

.top {
    height: 55vh;
    background: url('../img/bg_top.jpeg') center center fixed no-repeat;
    position: relative;
    box-shadow: 0 3px 8px 0 #3339;
}

.top .page-title {
    padding: 15px;
    background: #1f1f1f;
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 35%;
    text-align: center;
}

.top .page-title h1 {
    font-family: 'Poor Story', sans-serif;
    color: #fff;
    font-size: 42px;
}

.section-left {
    background: #1f1f1f;
    width: 30%;
    padding: 15px;
    margin-top: 30px;
    float: left;
}

.section-left h2 {
    font-family: 'Poor Story', sans-serif;
    color: #fff;
    font-size: 36px;
}

.section-left ul {
    list-style: none;
}

.section-left ul li, .section-left ul li a {
    color: #fff;
    padding: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.section-right {
    margin-top: 30px;
    float: right;
    width: 65%;
}

.section-right h2 {
    font-family: 'Poor Story', sans-serif;
    font-size: 36px;
}

.section-right p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.section-right input, .section-left input, .section-right select, .section-left select {
    width: calc(100% - 10px);
    padding: 15px 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
}

.section-right input:focus, .section-left input:focus {
    border-bottom: 3px solid #000;
}

.section-right input::placeholder, .section-left input::placeholder {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.user-box {
    border: 1px solid #1f1f1f;
    margin: 10px 0;
    border-bottom: none;
}

.user-name {
    padding: 10px;
    border-bottom: 1px solid #1f1f1f;
}

.section-right ul {
    list-style: none;
}

.section-right ul li {
    padding: 10px;
    border-bottom: 1px solid #1f1f1f;
    font-family: 'Abel', sans-serif;
}

.action {
    border: none;
    padding: 15px;
    width: 100%;
    font-family: 'Abel', sans-serif;
    color: #fff;
    background: #333;
}

.action-link {
    text-decoration: none;
}

.danger {
    color: #933;
}

footer {
    padding: 10px;
    background: #333;
    text-align: center;
    color: #FFF;
    font-family: 'Abel', sans-serif;
    display: block;
}

@media (max-width: 860px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .section-left, .section-right {
        float: none;
        width: 90%;
        margin: 30px auto;
    }

    nav a {
        display: none;
    }

    .dropdown-menu-wrap {
        display: block;
    }

    .top .page-title {
        width: 100%;
        left: 0;
        right: 0;  
        padding: 10px 0; 
    }
}